.actionscontainer
  -# TODO Can't figure out how to do it without this, but oh well...
  .placeholder
    %ul
      %li
        %a.action
          = image_tag 'plan-a-trip.png'
          %h3 Plan a Trip
      %li
        %a.action
          = image_tag 'identify-places.png'
          %h3 Identify Places
      %li
        %a.action
          = image_tag '100px-Settings_Tile.svg.png'
          %span
            %h3 Change My Settings
      %li
        %a.action
          = image_tag 'Blue_question_mark_icon.png'
          %h3 Help &amp; Support
