-#.actionscontainer
-#  %a.action
-#    = image_tag 'plan-a-trip.png'
-#    %h3 Plan a Trip
-#  %a.action
-#    = image_tag 'identify-places.png'
-#    %h3 Identify Places
-#.actionscontainer
-#  %a.action
-#    = image_tag '100px-Settings_Tile.svg.png'
-#    %span
-#      %h3 Change My Settings
-#  %a.action
-#    = image_tag 'Blue_question_mark_icon.png'
-#    %h3 Help &amp; Support

.row
  .span6
    %a.btn.btn-block
      = image_tag 'plan-a-trip.png'
      %h3 Plan a Trip
  .span6
    %a.btn.btn-block
      = image_tag 'identify-places.png'
      %h3 Identify Places
.row
  .span12
.row
  .span6
    %a.btn.btn-block
      = image_tag '100px-Settings_Tile.svg.png'
      %h3 Change My Settings
  .span6
    %a.btn.btn-block
      = image_tag 'Blue_question_mark_icon.png'
      %h3 Help &amp; Support
