body {
  @extend .container;
}

.content {
  @include makeRow();
}

.content .main {
  @include makeColumn(8);
}

.content .sidebar {
  @include makeColumn(4, 2);
}

.content .home {
  @include makeColumn(12);
}

.actionscontainer {
  @include makeRow();
}

.actionscontainer > div {
  @extend .span6;
  @extend .offset3;
}

.actionscontainer ul {
  @extend .thumbnails;
}

.actionscontainer li {
  @extend .span3;
}

.actionscontainer li .action {
  @extend .thumbnail;
  @extend .btn;
  cursor: pointer;
  overflow: auto;
  h3 {
    line-height: 27px;
    margin-left: 105px;
    margin-top: 0px;
    text-align: left;
  }
  img {
    float: left;
  }
}

