body {
  //@extend .container;
}

.content {
  @extend .container;
}

.content .main {
  @include makeColumn(8);
}

.content .sidebar {
  @include makeColumn(4, 2);
}

.content .home {
  //@include makeColumn(12);
}

.actionscontainer {
  @extend .row;
}

.placeholder1 {
  //margin: 0 auto;
  //float: none;
}

.placeholder {
//.actionscontainer > div {
//  @extend .span6;
//  @extend .offset3;
  //margin: 0 auto;
  //float: none;
}

.actionscontainer ul {
  //@extend .thumbnails;
  list-style: none;
}

.actionscontainer li {
  @extend .span6;
}

.actionscontainer .action {
  //@extend .thumbnail;
  @extend .span6;
  @extend .btn;
  @extend .btn-block;
  cursor: pointer;
  overflow: auto;
  h3 {
    line-height: 27px;
    margin-left: 110px;
    margin-top: 0px;
    text-align: left;
  }
  img {
    float: left;
    margin-left: 5px;
  }
}

